*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
    text-decoration: none;
	font-family: "Montserrat", sans-serif;
}
.header {
	background: linear-gradient(135deg,#e7df04 15%,#bb610d 55%);
	min-height: 100vh;
	min-height: 100dvh;
}
:root{
	--black: #070707;
	--orange: #de4b02;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 100px;
}
.logo {	
	padding: 0 15px;
}
.menu ul li {
	display: inline-block;
	margin: 0 10px;
}
.menu ul li a {
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	color: var(--white);
	padding: 5px 15px;
	transition: all 0.6s;
}
.menu ul li a:hover{
    background: var(--blue);
	border-radius: 50px;
	color: var(--white);
}
.banner {
  padding: 0 10%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  color: var(--white);

}
.banner button {
	background: var(--blue);
	border: none;
	outline: none;
	color: var(--white);
	padding: 10px 30px;
	font-size: 20px;
	display: inline-block;
	border: 1px solid transparent;
	transition: all .6s;
	border-radius: 50px;
}
.banner button:hover{
    transform: translateY(-6px);
    border: 1px solid var(--white);
    background: transparent;
	color: var(--white);
	font-weight: 700;
	cursor: pointer;
}
.banner-img img{
	animation: animate 2s infinite;
}

@keyframes animate{
	0%, 100%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-6px);
	}
}
@media (max-width: 1000px) {
	nav {
		flex-direction: column;
		align-items: flex;
	}
	.menu ul {
		padding: 0;
	}
	.menu ul li {
		margin: 0 15px 0 0;
	}
/**-- banner-- **/
    .banner {
		display: flex;
		flex-direction: column;
		text-align: center;
		height: auto;
	}
}

@media (max-width: 600px) {
	.logo {
		margin-top: 0;
	}
	nav {
		padding: 15px;
	}
	.menu ul li a {
		font-size: 10px;
        padding: 5px;
	}
	.banner {
		text-align: center;
		height: auto;
	}
	.banner img {
		width: 100%;	
	}
    .banner button {
        font-size: 12px;
    }

}

	.slide {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background-image: url(bg.jpg);
		background-size: cover;
		background-position: center center;
 }
	.slideshow {
        
		position: absolute;
		width: 800px;
		margin: auto;
		overflow: hidden;
		box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.3);
		border-radius: 50px;
  	}
	.slideshow ul {
        display: flex;
        align-items: center;
        justify-content: center;
		position: relative;
		left: 0;
		width: 90000px;
		transition: left .3s linear;
		animation: slide 10s infinite;
	}
	.slideshow ul li {
        display: flex;
        align-items: center;
        justify-content: center;
		display: inline-block;
		height: auto;
		
		width: 800px;
	}
	.single-img {
        display: flex;
        align-items: center;
        justify-content: center;
		margin: 0 auto;
		padding: 0;
		width: 450px;
	}
	.single-img img {
		width: 104%;
	}
	.single-img:hover{
  	transform: scale(1.2);           
	}
	@keyframes slide {
		20% {
			left: 0;
		}
		25% {
			left: -800px;
		}
		45% {
			left: -800px;
		}
		50% {
			left: -1600px;
		}
		70% {
			left: -1600px;
		}
		75% {
			left: -2400px;
		}
		98% {
			left: -2400px;
		}
		100% {
			left: 0;
		}
	}